{% extends "base.html" %}

{% block content %}


<div style="display: flex; align-items: center;">
    <img src="{{ album.album_pic.url }}" style="width: 500px; height: 500px; margin-right: 20px;">
    <div>
        <p><strong>Artist:</strong> {{ album.artist.artistprofile.artist_name }}</p>
        <p><strong>Title:</strong> {{ album.title }}</p>
        <p><strong>Genre:</strong> {{ album.genre }}</p>
        <p><strong>Label:</strong> {{ album.label }}</p>
        <p><strong>Year:</strong> {{ album.year }}</p>
    </div>
</div>


{% endblock content%}